Repository novaraptur/rancid-tomatillos, pull requests merged in 2021-07, with the labels that each got.

#44 App component
  src/components/App/App.js
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
  src/images/favicon.ico
  src/images/logo.svg
  src/images/logo192.png
  src/images/logo512.png
  src/index.js
Labels: Components, Iteration 1

#47 Feature/movie details
  public/index.html
  src/components/App/App.css
  src/components/App/App.js
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.js
  src/components/MovieDetails/MovieDetails.js
  src/components/Movies/Movies.js
  src/movieData.js
Labels: Components, Iteration 2

#49 Header component
  public/index.html
  src/components/App/App.js
  src/components/FeatMovie/FeatMovie.css
  src/components/FeatMovie/FeatMovie.js
  src/components/HeaderAndNav/Header.css
  src/components/HeaderAndNav/Header.js
  src/components/HeaderAndNav/Nav.css
  src/components/HeaderAndNav/Nav.js
Labels: Components, Iteration 1

#54 Header component
  src/components/App/.App.js.swp
  src/components/App/App.js
  src/components/FeatMovie/FeatMovie.css
  src/components/FeatMovie/FeatMovie.js
  src/components/HeaderAndNav/.Header.js.swp
  src/components/HeaderAndNav/Header.css
  src/components/HeaderAndNav/Header.js
  src/components/HeaderAndNav/Nav.css
  src/components/HeaderAndNav/Nav.js
  src/components/Movies/.Movies.js.swp
  src/components/Movies/Movies.js
Labels: Components, Iteration 1

#57 Fetch all movies from database
  src/apiCalls/apiCalls.js
  src/apiCalls/util.js
  src/components/App/App.css
  src/components/App/App.js
  src/components/FeatMovie/FeatMovie.js
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.js
Labels: API, Iteration 3

#58 Fetch single movie data from API
  src/apiCalls/apiCalls.js
  src/components/App/.App.js.swp
  src/components/App/App.js
  src/components/FeatMovie/FeatMovie.js
  src/components/HeaderAndNav/.Header.js.swp
  src/components/MovieCard/MovieCard.js
  src/components/Movies/.Movies.js.swp
  src/components/Movies/Movies.js
Labels: API, Iteration 2, Iteration 3

#60 Api calls
  src/components/FeatMovie/FeatMovie.css
  src/components/FeatMovie/FeatMovie.js
  src/components/Movies/Movies.js
Labels: API, Iteration 2, css

#61 Feature/cypress
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/dashboard.js
  cypress/integration/error-messages.js
  cypress/integration/single_movie.js
  cypress/integration/testData.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  src/apiCalls/apiCalls.js
  src/apiCalls/util.js
  src/components/App/App.css
  src/components/App/App.js
  src/components/Errors/Errors.css
  src/components/Errors/Errors.js
  src/components/HeaderAndNav/Header.js
  src/components/Movies/Movies.js
  src/setupTests.js
Labels: Iteration 3

#62 Remove / from url in cypress tests, everything works now
  cypress/integration/error-messages.js
Labels: API, Iteration 3, bug

#63 Responsive styling
  src/components/FeatMovie/FeatMovie.css
  src/components/HeaderAndNav/Nav.css
  src/components/Movies/Movies.css
Labels: Finishing Touches, bug, css

#64 Footer component
  src/components/App/App.js
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
Labels: Iteration 1

#69 Feature/code review
  package-lock.json
  package.json
  src/apiCalls/apiCalls.js
  src/apiCalls/util.js
  src/apiCalls/utils.js
  src/components/App/App.js
  src/components/App/App.test.js
  src/components/FeatMovie/FeatMovie.css
  src/components/FeatMovie/FeatMovie.js
  src/components/Footer/Footer.css
  src/components/Footer/Footer.js
  src/components/Header/Header.css
  src/components/Header/Header.js
  src/components/HeaderAndNav/Header.js
  src/components/HeaderAndNav/Nav.js
  src/components/MovieCard/MovieCard.js
  src/components/MovieDetails/MovieDetails.js
  src/components/Movies/Movies.js
  src/components/Nav/Nav.css
  src/components/Nav/Nav.js
  src/components/ScrollToTop.js
Labels: Iteration 3, Iteration 4, bug

#75 Allow user to view movie details by clicking on featured movie banner
  src/components/FeatMovie/FeatMovie.js
Labels: Iteration 4, bug

#78 Cypress tests
  cypress/fixtures/example.json
  cypress/fixtures/movieData.json
  cypress/integration/dashboard.js
  cypress/integration/error-messages.js
  cypress/integration/single_movie.js
  cypress/integration/testData.js
Labels: API, Iteration 4, Iteration 5

#79 Feature/add prop types
  src/apiCalls/apiCalls.js
  src/apiCalls/utils.js
  src/components/App/App.js
  src/components/Errors/Errors.js
  src/components/FeatMovie/FeatMovie.js
  src/components/MovieCard/MovieCard.js
  src/components/MovieDetails/MovieDetails.css
  src/components/MovieDetails/MovieDetails.js
  src/components/MovieTrailer/MovieTrailer.css
  src/components/MovieTrailer/MovieTrailer.js
  src/components/Movies/Movies.js
Labels: API, Components, Iteration 1, Iteration 5

#81 Refactor
  cypress/integration/error-messages.js
  src/components/FeatMovie/FeatMovie.css
  src/components/Footer/Footer.css
  src/components/Header/Header.css
  src/components/MovieCard/MovieCard.css
  src/components/MovieDetails/MovieDetails.css
  src/components/Nav/Nav.css
Labels: Finishing Touches
